<div class="container-fluid" >
    <div class="row">
        <div class="shortMain">
            <div class="col-lg-3 col-md-6 col-xs-6  short">
                <div class="shortItem">
                    <ul class="showMe">
                        <li> xxyy</li>
                        <li> xxyy</li>
                        <li> xxyy</li>
                    </ul>
                    <ul class="hideMe">
                        <img class="titlePic" src="img/1.png">
                        <p class="titleNote"> 5 tasks today</p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md- col-xs-6  short">
                <div class="shortItem">
                    <ul class="showMe">
                        <li> xxxx</li>
                        <li> xxxx</li>
                        <li> xxxx</li>
                    </ul>
                    <ul class="hideMe">
                        <img class="titlePic" src="img/2_2.png">
                        <p class="titleNote"> 5 tasks tomorrow</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
